<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Leo Liang. It uses data from weather stack site.</p>
        <img class="portrait" src="/img/samplePic.png">
    </div>
    
    {{>footer}}
</body>

</html>